### **Data Types**
- **int**: 1 2 3 4 5
- **float**: 1.0 2.0 3.0 4.0 5.0
- **string**: "a" "b" "c" "d" "e"
- **boolean**: True False
- **list**: [1, 2, 3, 4, 5]
- **tuple**: (1, 2, 3, 4, 5)
- **set**: {1, 2, 3, 4, 5}
- **dictionary**: {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}

In [2]:
a = 3
b = 2.5
c = "hello"
d = True
e = [1, 2, 3]
f = (1, 2, 3)
g = {1, 2, 3}
h = {"name": "John", "age": 30}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

---
### **User Input**
- converts the input to string

In [3]:
number = input()
print(type(number))

<class 'str'>

---
### **Type Casting**
* **Implicit:** done automatically by the compiler  
* **Explicit:** done by the programmer using predefined functions 
    - int()
    - float()
    - str()

In [5]:
num1 = int(input())
num2 = int(input())

print("Addition: ", num1 + num2)
print("Subtraction: ", num1 - num2)
print("Multiplication: ", num1 * num2)
print("Division: ", num1 / num2)
print("Modulus: ", num1 % num2)
print("Exponent: ", num1**num2)

Addition:  9
Subtraction:  -3
Multiplication:  18
Division:  0.5
Modulus:  3
Exponent:  729

---
### **Slicing**
* Extraction of a part of a string, list, or tuple.
* Syntax: [start:stop:step]
  * start: starting index
  * stop: ending index (n - 1)
  * step: increment

In [6]:
S = "Hello World!"

print(S[0:])  # Start from 0 and go to the end
print(S[1:])  # Start from 1 and go to the end
print(S[1:2])  # Start from 1 and go to 2
print(S[:5])  # Start from 0 and go to 5
print(S[:])  # Start from 0 and go to the end

Hello World!
ello World!
e
Hello
Hello World!

---
### **IF-ELSE Statement**

In [ ]:
age = int(input())

if age > 18:
    print("You are over age")
elif age < 18:
    print("You are under age")
else:
    print("You are 18")

---
### **Array, List, Tuple**

Array            | Tuple              | List
|---             |---                 |---    |
Mutable          | Immutable          | Mutable
Single data type | Multiple data type | Multiple data type

In [13]:
array = [1, 2, 3, 4, 5]

for i in array:
    print(i)

1
2
3
4
5

In [12]:
list = [1, 2.5, "Hello", 3, 4, "World"]

for i in list:
    print(i)

print("Length: ", len(list))

sublist = list[2:5]

for j in sublist:
    print(j)

1
2.5
Hello
3
4
World
Length:  6
Hello
3
4

In [15]:
tuple = (1, 2.5, "Hello", 3, 4, "World")

for i in tuple:
    print(i)

subtuple = list[2:5]

for j in subtuple:
    print(j)

1
2.5
Hello
3
4
World
Hello
3
4

In [8]:
# Print the multiplication table of a number if it is even
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num = int(input())

if num % 2 == 0:
    for x in list1:
        print(x, "*", num, "=", x * num)
else:
    print("Number is Odd")

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

---
### **Range**
* range(stop)
* range(start, stop)
* range(start, stop, step)

In [10]:
r1 = range(11)
r2 = range(1, 11, 2)
r3 = range(1, 11)

for x in r1:
    print(x)

0
1
2
3
4
5
6
7
8
9
10

---
### **Dictionary**
* Collection of keys & values.

In [11]:
person = {"name": "John", "age": 20, "gender": "Male"}

print(person.keys())
print(person.values())
print(person["name"])
print(type(person["name"]))

dict_keys(['name', 'age', 'gender'])
dict_values(['John', 20, 'Male'])
John
<class 'str'>

In [16]:
student = {
    "name": "",
    "age": "",
    "gender": "",
    "university": "",
    "program": "",
    "year": "",
}

#Adding values using input
student["name"] = input()
student["age"] = input()
student["gender"] = input()
student["university"] = input()
student["program"] = input()
student["year"] = input()


print(student.values())

dict_values(['John', '20', 'Male', 'szabist', 'bscs', '2021'])